[2019-03-13 07:41] bitcoinbrisbane opened #55 "Build issues"
Im getting 18 Swift compiler issues after adding the pod and opening my workspace.

- Redefinition of module 'CommonCrypto'
- Could not build module 'Dispatch'

etc

[2019-03-22 20:23] einsteinx2 commented on #55
Ran into the same issue. Removing the `frameworks` folder with the CommonCrypto module maps seems to resolve it.

[2019-03-22 20:45] einsteinx2 commented on #55
I think it was needed for earlier versions of Xcode/Swift but in the latest version CommonCrypto has a module map in Apple's SDK so it's now causing module redefinition errors.

[2019-03-22 20:49] einsteinx2 commented on #55
I've opened a PR here with the fix: https://github.com/argentlabs/web3.swift/pull/56

[2019-03-23 13:19] DarthMike commented on #55
Thanks for contributing!
Looks good, I'll check the PR in short, I just want to make sure it won't break our Argent builds. (Might need to update on our side as well)

[2019-04-15 13:56] th3m477 commented on #55
Please see the latest version available on `master`. Your issues should be resolved now 👍

[2019-04-15 13:56] #55 closed

[2019-05-07 05:39] DiwakarThapa opened #59 "how can I get fast, normal and slow transaction fee using this library?"

[2019-05-07 14:29] DarthMike commented on #59
Hi, we don't support calculating `gasPrice` by design (see (meta transactions)[https://medium.com/coinmonks/gasless-transactions-f75382095c4f]).

You can easily use a service like [EthGasStation](https://docs.ethgasstation.info/)

[2019-05-09 16:06] #59 closed

[2019-08-14 00:24] daihovey opened #67 "Tests failing"
Hey,

in `EthereumAccountTests`

[code]
`account` is returning `nil`, and so failing.

Also, when running `testLoadAccountAndAddress`

in `loadPrivateKey()` in `TestEthereumKeyStorage`

`privateKey.hexData` is returning `nil`

[2019-08-14 00:31] daihovey commented on #67
Ah.
Just read https://github.com/argentlabs/web3.swift#running-tests
Maybe best to add a comment inline in the possible failing tests so more people like me don't waste your time with issues :)

[2019-08-14 00:31] #67 closed

[2019-08-19 10:32] DarthMike commented on #67
Thanks for the feedback, definitely going to improve this for next release.

[2019-12-03 09:25] jtomanik opened #83 "Parsing error when reading ERC20 contract's `symbol` property"
When using `public func symbol(tokenContract: EthereumAddress, completion: @escaping((Error?, String?) -> Void))` from `public class ERC20` parsing sometimes fails.

## Expected Behavior
As a consumer of this library, I should be able to retrieve ERC20 token's symbol using `public func symbol(...)` function.

## Current Behavior
Currently, call fails with `EthereumClientError.decodeIssue` for some

[2019-12-04 09:12] th3m477 commented on #83
Thanks for identifying this.

Do you have any examples of ERC20 tokens that return bytes32 instead of string?

Please note the specification strictly defines the `symbol` property to be a string ( https://eips.ethereum.org/EIPS/eip-20 ). We stick to the defined specifications where possible, unless we see demand from popular tokens.

[2019-12-13 20:54] hojatdelfan opened #84 "'EthereumKeyLocalStorage' initializer is inaccessible due to 'internal' protection level"
i want to try to use Account in MyViewController

[code]
so i face the following error
**'EthereumKeyLocalStorage' initializer is inaccessible due to 'internal' protection level**

[2020-01-16 09:21] DarthMike commented on #84
Done, use `0.3.3` or latest `master/develop`

[2020-01-16 09:21] #84 closed

[2020-01-17 20:43] danielnordh opened #86 "Getting started code fails gas price call"
Using the Getting started code for setting up the client:

[code]

Fails with the following error:

[code]

I would normally guess this was an https issue but that seems unlikely here.
Any tips on how to get this library working?
(Xcode 11.3.1)

[2020-01-20 09:44] DarthMike commented on #86
Hi @danielnordh , given the library calls `session.invalidateAndCancel()` when it's deallocated, are you keeping a strong reference to the client somewhere? Otherwise it will deallocate and cancel all tasks.

[2020-01-20 21:39] danielnordh commented on #86
Ah, silly mistake. Yes that fixed it, thank you!

[2020-01-20 21:39] #86 closed

[2020-01-21 08:27] #83 closed

[2020-02-14 12:47] jsdu commented on #86
I'm having issues with this myself, having the same error. @danielnordh could you provide a code sample on how you were able to solve this?

[2020-07-14 20:44] brianmcmichael commented on #83
Came across this while searching for something else. If you do need an example of this, MKR token uses `bytes32` datatypes for both `name` and `symbol`.

**https://etherscan.io/token/0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2**

[2020-07-20 14:57] fdematos opened #102 "(EIP712) - Encoding TypedData containing bytes"
I want to encode the following typed message:

[code]

Calling :
[code]

Returns:
[code]

**Expected returns:**
[code]

**Fix proposal**

I thinks the problem come from the method `parseAtomicType` on the file `Utils/TypedData.swift`.

You have line 110:
[code]

You are considering `0xa21f3c6a68656c6c6f000000000000000000000000000000000000000000000000000000776f726c6420210000000000000000000000000000

[2020-07-21 06:33] DarthMike commented on #102
Hello @fdematos, I'll take a look today. Thank you for reporting the issue.

[2020-07-21 09:52] DarthMike commented on #102
Issue is now fixed and published in `0.4.1`

[2020-07-21 09:52] #102 closed

[2020-09-14 10:45] jayarajb1116 opened #111 "how to import wallet account instead of creating account?"

[2020-09-14 11:46] jayarajb1116 commented on #111
added below method to EthereumAccount class and worked.

public static func importAccount(keyStorage: EthereumKeyStorageProtocol, privateKey: String, keystorePassword password: String) throws -> EthereumAccount {
        guard let privateKey = privateKey.web3.hexData else {
            throw EthereumAccountError.createAccountError
        }

        do {
            let encodedData = try KeystoreU

[2020-09-15 12:09] jayarajb1116 opened #112 "how to convert BigUInt to eth value?"
You'll need to divide by decimals of smaller value, in this case 18

[code]

Alternatively you can convert to  `Foundation` [Decimal](https://developer.apple.com/documentation/foundation/decimal) to represent or display with comma values.

[2020-09-29 12:31] #112 closed

[2020-09-29 12:33] DarthMike commented on #111
We don't have an explicit `import` method as the means of creating account is up to user of library. What you did above is correct.

[2020-09-29 12:33] #111 closed

[2020-11-17 15:50] DarthMike opened #120 "Remove logic around 'execution error' calls"
See #118 and #119

We included some logic to keep library working as before, but geth nodes are expected to be updated, this logic is obsolete.

Remove the workaround and just fail, giving the proper error to the caller.

[2020-11-20 09:59] DarthMike opened #121 "SPM Support"

[2020-12-22 04:53] centerprime opened #122 "How to get ethereum wallet balance?"

[2020-12-22 05:13] Odiljon1994 opened #123 "How to get keystore json file"

[2021-01-19 08:39] DarthMike commented on #123
Hello, we don't offer this functionality

[2021-01-19 08:39] #123 closed

[2021-01-19 08:42] DarthMike commented on #122
ETH balance is a method in `EthereumClient`. See `EthereumClient.eth_getBalance`
ERC-20 balance needs a specific call per-token. See `ERC20.balanceOf`

[2021-01-19 08:42] #122 closed

[2021-01-19 09:15] DarthMike opened #127 "Support other uint/int sizes"
Currently when a type is `BigUInt`, it's assumed to be `256`, which is correct in most cases. But sometimes need more specific size. We should support any size, as we do for `Dataxyz` solidity types

[2021-02-03 13:49] DarthMike commented on #121
Done in #130

[2021-02-03 13:49] #121 closed

[2021-02-17 14:12] DarthMike commented on #127
Implemented in #128

[2021-02-17 14:12] #127 closed

[2021-03-04 18:13] sporkspatula opened #132 "Problem Encoding Tuples with Dynamic Types"
Hi @DarthMike we are working to use this library to encode tuples as function parameters to call smart contract functions.

For simple tuples with only statically sized variables we have no problem. For example -- we are able to use your library to define a custom ABITuple type for a struct

[code]

However when we attempt to encode a struct with dynamic size aka a `string` value we are running in

[2021-03-05 15:02] DarthMike commented on #132
Hello @sporkspatula, I'm trying to reproduce your issue, but I can encode resulting in your 'correct' input data.

I've decoded the values to be exactly as per data provided (+ 3 other numbers appended) in the unit test, resulting in the same encoding. See the example in #133

Let's try to work out wether we have a bug in the library or there's something to be changed in your Swift code definition

[2021-03-05 20:35] sporkspatula commented on #132
@DarthMike okay so the signature of the mint method is this:

`mint((string,string,bytes32,bytes32),((uint256),(uint256),(uint256))`

So its a struct called `mediaData` with strings and bytes32 values and then a struct called `bidShares` that is three structs of type `{ value: uint256 }`.

The way we have defined these structs in swift are as follows:

[code]

[2021-03-05 22:36] DarthMike commented on #132
@sporkspatula I can confirm there's a bug in the library for tuples containing static value tuples, fixing.

[2021-03-07 09:54] daihovey commented on #132
@DarthMike I pulled the fix-PR ^ and it fixes our issue 🙏 🎉 thank you

[2021-03-07 12:47] DarthMike commented on #132
Great we'll merge this after review next week. Will publish to cocoapods in then.

[2021-03-08 14:15] DarthMike commented on #132
Merged and published to cocoapods 🙏

[2021-03-08 14:15] #132 closed

[2021-03-15 08:52] DarthMike opened #135 "Use `EthereumAddress` instead of `String` for some client methods"
`eth_getBalance`
`eth_getCode`

Check for any other

[2021-03-18 13:24] #135 closed

[2021-04-14 23:06] hexzorro opened #138 "RFC: EIP-1559 vs EIP-3416 impact on Client Apps/Wallets"
Dear Argent Wallet client devs, we are looking forward to improving the Market Fee on Ethereum blockchain. We are a couple of engineers proposing an EIP improvement based on EIP-1559. We estimate 1559 is great but we propose an improvement to:

* further reduce the gas price volatility with a median function (on premium gas price on top of base fees);
* reduce base fees volatility with an additive

[2021-05-07 00:07] afern247 opened #140 "General Blockchain?"
Hi guys, is this only for ETH?
Can I retrieve also wallet information from BNB blockchain?
Any plans to add support for the rest of the blockchain, for example ADA and so on?

Thank you

[2021-06-08 14:54] danielnordh opened #141 "Unable to obtain signed transaction for submission by relayer"
I am trying to sign a transaction on the device for later submission by a relayer.
(USDC 'transferWithAuthorization')

Using:
`let signedTx = (try? account.sign(transaction))` I get `No exact matches in call to instance method 'sign'`

Presumably because of the unnamed parameter `(_ transaction:` in
`func sign(_ transaction: EthereumTransaction)`

Is there a better way of acquiring a signed transa

[2021-06-09 08:42] danielnordh commented on #141
I have solved my issue and submitted a PR - #142

[2021-06-09 08:42] #141 closed

[2021-06-09 13:27] DarthMike commented on #140
Yes this library is specifically focused to interact with Ethereum blockchain.

[2021-06-09 13:27] #140 closed

[2021-06-15 10:36] danielnordh opened #146 "Working with EIP-3009, transferWithAuthorization"
I'm trying to get our client to support [EIP-3009](https://github.com/ethereum/EIPs/issues/3010), to let us submit transactions on our users' behalf.
Specifically USDC's 'transferWithAuthorization' function.

<img width="347" alt="image" src="https://user-images.githubusercontent.com/3393669/122035409-59e1f300-cdca-11eb-9762-973d34384581.png">

My assumptions for how the flow should go:

1. Create

[2021-06-16 13:00] DarthMike opened #147 "Async/await"

[2021-06-17 08:47] DarthMike commented on #146
Hello @danielnordh,
Possibly that error is related to `init` not being public (did the change in #148, will merge shortly).

I think it's easier if you just use a JSON template and generate the message with a JSON string as we do in the tests. Constructing this JSON Is very verbose.

https://github.com/argentlabs/web3.swift/blob/master/web3sTests/Account/EthereumAccount%2BSignTypedTests.swift

[2021-06-17 08:54] danielnordh commented on #146
Thanks @DarthMike, the changes in #148 should probably take care of that issue 👍
I was trying to avoid JSON as there are so many dynamic properties, but I guess I would have to take that route if I can't make this work.

[2021-06-17 13:42] danielnordh commented on #146
OK I think I solved my problem for now, mostly using your suggested JSON solution but with some added convenience functions and structs. Sharing rough concept here for anyone else trying to achieve the same thing.

**Flow**

    let domain = EIP712Domain(name: ..., version: ..., chainId: ..., verifyingContract: ...)
    let parameters = TransferWithAuthorizationParameters(from: ..., to: ..., value

[2021-06-17 14:11] #146 closed

[2021-06-17 15:34] Gabets opened #149 "Can't interact with the client methods"
Hi all!
When I try
[code]
I got error:
Task <...>.<1> finished with error [-999] Error Domain=NSURLErrorDomain Code=-999 "cancelled" UserInfo={NSErrorFailingURLStringKey=https://mainnet.infura.io/v3/b2f4b3f635d8425c96854c3d28ba6bb0, NSLocalizedDescription=cancelled, NSErrorFailingURLKey=https://mainnet.infura.io/v3/b2f4b3f635d8425c96854c3d28ba6bb0}

Connection 1: unable to determine interface type

[2021-06-17 15:37] DarthMike commented on #149
Hello @Gabets, are you using a playground or script for testing? You need to keep the `client` in memory by locking the thread (DIspatchSemaphore for example), maybe it's cancelled because `client` is deallocated?

[2021-06-17 15:50] Gabets commented on #149
Hello @DarthMike
I created a simple app and run this code inside my view controller after pressing the button
[code]

[2021-06-17 18:34] Gabets commented on #149
@DarthMike
I'm sorry for my stupid question, but when I create client as global variable, everything worked fine

Maybe in the future I will have more questions, but this issue can be closed.

[2021-06-17 18:35] #149 closed

[2021-07-28 12:32] metallicalfa2 opened #150 "Unable to decode Dynamic array. Potential Int overflow in the decoder for dynamic array."
This is my struct.
[code]

Here's the test

[code]

The code fails in `ABIDecoder.swift` during Int(hex: string) due to overflow.

[code]

// The Following is nil
[code]

[2021-07-30 02:33] rathishubham7 commented on #150
@DarthMike

[2021-07-30 10:38] DarthMike commented on #150
Hello @rathishubham7, I think you need to call `decodedTupleArray()` instead of `decodedArray()` (unfortunately it's necessary to allow for static types for the ABI when decoding).

We have unit tests for these cases, [here](https://github.com/argentlabs/web3.swift/blob/master/web3sTests/Contract/ABIDecoderTests.swift#L313-L377).

[2021-07-30 11:56] DarthMike commented on #150
Just checked again, I think I didn't understand the example, ignore comment above, checking it in more detail.

[2021-07-30 13:37] DarthMike commented on #150
@rathishubham7 it seems there's indeed a bug with tuples containing only arrays; test above is not 100% correct though (need to remove the encoded function signature)

[code]

Can workaround this issue by changing the decoder intializer.

[code]

[2021-07-30 13:38] DarthMike commented on #150
We'll fix the bug, thanks for the report 🙌

[2021-07-30 13:49] rathishubham7 commented on #150
Thanks @DarthMike. I'll take a look at the workaround as well.

[2021-08-02 08:46] akhilccrb opened #151 "Can we use this for Tron ( Trx ) chain ? Suggest one."

[2021-08-05 08:27] rathishubham7 commented on #150
Hi @DarthMike. Any updates ?

The workaround will not work in the following case, right ?

[code]

[2021-08-05 08:54] DarthMike commented on #150
Hello, we're very busy with other work, so we're not prioritizing fixing this soon, will try to look at it this week and check if it's a simple fix.

You can still workaround for that case, I've written a test to demonstrate it:

[code]

With the tuple written as:
[code]

The important workaround part is:
[code]

[2021-08-05 08:55] DarthMike commented on #151
This project only supports Ethereum blockchain

[2021-08-05 08:55] #151 closed

[2021-08-08 10:18] bejitono opened #152 "ERC721Metadata.tokenURI call returns no data. Expected to return json metadata."
I'm trying to get the token URI with the below code but don't receive any response data.

[code]

Using the same input with Boilertalk's Web3.swift framework I receive the following response:

`["": "https://ipfs.foundation.app/ipfs/QmWiWTXdRCbiCm6n1BEujGJMA8GJNpmGx88nbmf5QcdYzA/metadata.json"]`

Thanks a lot for your work guys!

[2021-08-19 06:03] wilks7 opened #154 "Getting started SwiftUI with EthereumClient"
I am having an issue getting started, It looks like the issue is with the EthereumClient and strong reference but I can't seem to figure it out, I keep getting errors, is this not the correct method using SwiftUI ?

        class ContractManager {

            let client: EthereumClient!
            let account: EthereumAccount!

            init() {
                let keyStorage = EthereumKeyLoc

[2021-08-23 10:06] DarthMike commented on #154
Hello, `SwiftUI` works differently, your `contractManager` property is discarded right after the view is rendered by the system, you'll need to use [@ObservedObject](https://developer.apple.com/documentation/swiftui/managing-model-data-in-your-app)

[2021-08-23 10:06] #154 closed

[2021-08-23 10:11] DarthMike commented on #152
Hello @bejitono I can't read any `tokenURI` (token ID 0 or 37949) using [etherescan](https://etherscan.io/address/0x3b3ee1931dc30c1957379fac9aba94d1c48a5405#readProxyContract). The behaviour seems correct in this case.

[2021-10-04 06:38] toidv commented on #138
Any update for this issue

[2021-10-06 07:56] DarthMike commented on #138
This is not a priority for us at this point

[2021-10-06 07:56] #138 closed

[2021-10-29 13:34] camilomv17 opened #156 "Getting all request cancelled as soon as they are created, causing all responses to be nil"
Trying to run the simple gas price function on the docs to initially test the library, but getting always nil as the value returned, after doing some dig and debugging, down to the EthereumRPC.execute call, I found that all the requests are returning a cancelled error. The call is made on a SwiftUI class on the onAppear block of the body GUI.
![image](https://user-images.githubusercontent.com/3619

[2021-10-29 14:06] #156 closed, assigned to nobody

[2021-11-04 07:48] AugustDev opened #157 "Example code returns client error"
I tried to run sample code in readme after importing library using SPM. I connect to mainnet using Infura.

[code]

`eth_gasPrice` method returns `web3.EthereumClientError.unexpectedReturnValue`

[code]

Any ideas?

[2021-11-04 11:03] cboka commented on #157
No, I have no idea!  Does it have anything to do with Metamask?

În joi, 4 nov. 2021 la 08:49 Augustinas Malinauskas <
***@***.***> a scris:

[2021-11-29 17:21] JulienLevallois opened #160 "Cannot find 'EthereumJSONContract' in scope"
Hey, I have this error. Do you know what's the problem?
From this article
https://www.argent.xyz/blog/building-ethereum-dapps-on-ios-with-web3-swift/

Thanks
<img width="1342" alt="Capture d’écran 2021-11-29 à 12 21 08" src="https://user-images.githubusercontent.com/5727223/143913924-be3b6d82-f9d6-4e5f-a62b-75112cc31dc2.png">
r

[2021-12-09 10:43] DarthMike commented on #160
We removed support for JSON contracts to simplify the library and because the statically typed support is a better alternative.

[2021-12-09 10:43] #160 closed

[2021-12-11 02:10] #152 closed

[2021-12-14 16:15] fassko commented on #147
+1

[2021-12-15 19:27] rhaining commented on #157
have you tried saving the `client` as a var? it might be getting released

[2022-01-05 13:30] UemitGuel commented on #157
Hi @AugustDev, did you find a solution to this problem? 🙂

[2022-01-06 08:32] michaellee8 opened #163 "Mismatch podspec in master branch and the version published in cocoapods"
In #161 , I applied a fix of broken build when not using frameworks in the podspec. However, it seems that it was not published to cocopods, as in https://github.com/CocoaPods/Specs/blob/master/Specs/a/9/6/web3.swift/0.8.1/web3.swift.podspec.json and https://github.com/argentlabs/web3.swift/blob/master/web3.swift.podspec. Please have a look at this.

[2022-01-10 13:24] DarthMike commented on #163
@michaellee8 just published 0.8.2 with the change

[2022-01-10 13:24] #163 closed

[2022-01-14 10:36] dnKaratzas opened #166 "Support Linux"
When I try to build on Linux the build Fails cause CommonCrypt doesn't exists on linux.

[2022-01-18 20:53] omidziaee commented on #146
Hi,
Quick question, after you get the v, r, s how do you submit the transaction? Do you use the contract method "transferWithAuthorization"? Could you please elaborate more on that with an example?

[2022-01-29 03:23] virus-zip opened #168 "Unexpected Return Type while getting Balances"
The error occurs while getting the balance for an address of a contract on the ETH mainnet with working Infura credentials.

Error: web3.EthereumClientError.unexpectedReturnValue
While calling function: client.balanceOf (....)

As commented on another issue: Neither the client saving as a var is helping nor any suggestion towards Metamask - however that should be in any relevance to this project.

[2022-01-29 03:24] virus-zip commented on #157
Is there any update on this situation? The error doesn't seem to be resolved.

[2022-01-29 05:50] virus-zip commented on #168
If there is a print function (yes, a literal print-it-out function) for the client and erc721 instances in the function call, the returned value will be valid.

print(erc721, client) in the completion block will result in a working getBalance function. I am surprised.

[2022-01-29 05:50] virus-zip commented on #157
If there is a print function (yes, a literal print-it-out function) for the client and erc721 instances in the function call, the returned value will be valid.

print(erc721, client) in the completion block will result in a working getBalance function. I am surprised.

[2022-01-31 13:52] DarthMike commented on #168
@virus-zip I don't quite understand what issue you're facing. Can you post a full sample code reproducing the problem?

[2022-02-01 08:57] DarthMike commented on #157
@AugustDev what is the exact usage of the code? `client` should be owned otherwise it goes out of memory. Did you paste your infura token correctly?

[2022-02-02 16:55] DarthMike commented on #166
Added support with #167

[2022-02-02 16:55] #166 closed

[2022-02-03 20:27] virus-zip opened #170 "Contract Ownership Call"
Include a simple way to get the owner address of a contract with a simple native call.

[2022-02-03 20:33] virus-zip commented on #170
Also a differentiation between two functions (contract owner and deployer) would be comfortable.

[2022-02-04 16:30] virus-zip opened #171 "Contract Transfer Events (Non ERC721/ERC20)"
Please implement a function to gather all transfer events to and from addresses (ETH). Same function that is available for ERC721 / ERC20 transfer events for normal transactions.

[2022-02-06 16:56] joeblau opened #174 "Signed Integer Not Processing Correctly"
I'm trying to call call the `slot0` function from a UniswapV3 pool and when I make the request, the second parameter in the response is supposed to be Ann `int24`. In some cases, this `int24` is negative, but the ABI response always returns a positive number.

For this [pool](https://etherscan.io/address/0x69d91b94f0aaf8e8a2586909fa77a5c2c89818d5/advanced#readContract) at this address `0x69d91b94f

[2022-02-07 02:34] johnCbogil commented on #157
This is my exact usage of the code where it fails:
[code]

However, creating a pointer to the client inside the closure solves the problem. Interesting that an additional pointer is necessary to keep the client alive.

[2022-02-07 08:39] DarthMike commented on #157
@johnCbogil The client goes out of memory and a reference should be kept. After the function call `client` will be deallocated, as `eth_getBalance` is asynchronous.

If you use `client` inside the closure, you're effectively keeping it alive until the closure executes (default strong reference). This is normal swift behaviour.

[2022-02-07 09:53] dnKaratzas opened #175 "Linux transactions fail"
On Linux I get when I try to transfer tokens.
"Ethereum response error: JSONRPCErrorDetail(code: -32000, message: "insufficient funds for gas * price + value")"

On macOS that error does not occur and the transaction completes successfully. Checked BSScan and the Gas, Limit etc are all ok. Any idea what might me wrong?

[2022-02-07 11:37] simonmcl opened #176 "Multiple targets named "CryptoSwift" when using web3.swift"
I'm using a dependency in my app that imports CryptoSwift and web3.swift. You recently made a change to use an embedded version of CryptoSwift:

[code]

and named the target the same as the official package version. Now any package or app that tries to import CryptoSwift and web3.swift is getting build failures "multiple targets named `CryptoSwift` in: `cryptoswift`, `web3.swift`". Because it was

[2022-02-07 11:49] DarthMike commented on #176
Hey @simonmcl yes we will change the local dependency name. Don't want to force a new dependency though. You can still use the previous release until it's fixed (`0.8.2`)

[2022-02-07 11:52] DarthMike commented on #175
@dnKaratzas I have no idea how Linux would be different unless `BigInt` library has a bug encoding the value in the platform. We don't use Linux ourselves (and CI only tests iOS), maybe @rkreutz has encountered this?

[2022-02-07 11:54] simonmcl commented on #176
@DarthMike thanks. Yes i've asked the dependency i'm using to make that change for now, but it will take time for that. Is there a reason you need a local copy and can't use the official version? having 2 copies of CryptoSwift in my app is not ideal

[2022-02-07 11:55] DarthMike commented on #176
@simonmcl we don't use a full copy of `CryptoSwift`, just needed `PDFK2` implementation. See #167

[2022-02-07 11:57] simonmcl commented on #176
@DarthMike ah ok, its only a piece ok then yeah makes sense to just rename it. Thanks

[2022-02-07 11:58] dnKaratzas commented on #175
Btw my TestNet Account balance: 1.3202
I printed the txArray to debug and seems ok:

txArray: [Optional(151), Optional(5000000000), Optional(1000000), Optional("9ac64cc6e4415144c455bd8e4837fea55603e5c3"), Optional(100000000000000000), Optional(228 bytes), Optional(229), Optional(32 bytes), Optional(32 bytes)]

I dont know how to debug it under Linux :(

[2022-02-07 12:48] rkreutz commented on #175
TBH I hadn't tested executing an actual transaction, but if it's complaining about insufficient gas is most likely an encoding issue on the transaction... maybe share the code you are trying to run so others can take a look as well?

[2022-02-07 13:30] dnKaratzas commented on #175
I swap token on pancakeSwap by calling swapExactTokensForETHSupportingFeeOnTransferTokens method

`public struct swapExactTokensForETHSupportingFeeOnTransferTokens: ABIFunction {
		public static let name = "swapExactTokensForETHSupportingFeeOnTransferTokens"
		public let gasPrice: BigUInt?
		public let gasLimit: BigUInt?
		public var contract: EthereumAddress
		public let from: EthereumAddress?

[2022-02-07 14:52] DarthMike commented on #175
@dnKaratzas where can we find the solidity code or JSON ABI for `swapExactTokensForETHSupportingFeeOnTransferTokens` ?

[2022-02-07 18:53] DarthMike commented on #176
`0.9.1` should fix this

[2022-02-07 18:53] #176 closed

[2022-02-08 07:59] dnKaratzas commented on #175
Here is the PancakeSwap router address on testnet
https://testnet.bscscan.com/address/0x9Ac64Cc6e4415144C455BD8E4837Fea55603e5c3#writeContract

[2022-02-08 18:25] DarthMike commented on #175
I don't see anything wrong with the function declaration. Maybe it's worth comparing the `transaction.data` and see if values are correctly encoded.

[2022-02-08 18:35] dnKaratzas commented on #175
I already did that and seems ok. I really dont get it what is wrong with linux

[2022-02-09 09:47] dnKaratzas commented on #175
@DarthMike  & @rkreutz  do you have any Linux machine to debug that?

[2022-02-09 10:02] rkreutz commented on #175
not really, I'd have to run it on a docker image, which is not really ideal for debugging anyway, could you maybe try printing both `transaction.data` and see if there is a difference there?

[2022-02-09 10:04] dnKaratzas commented on #175
@rkreutz ok

[2022-02-09 10:27] dnKaratzas commented on #175
@rkreutz  how can I print the data as a string? Do we have any func for that?

[2022-02-09 10:44] dnKaratzas commented on #175
@rkreutz here you are

@rkreutz

macOS:

[code]
Linux
[code]

[2022-02-09 10:52] rkreutz commented on #175
I've noticed the data hex on both don't exactly match, is that the deadline param or something else? If it is something else, maybe that's the issue?

[2022-02-09 10:54] dnKaratzas commented on #175
@rkreutz  Yes its the deadline. I removed that and now are identical. Updated the results above

[2022-02-09 11:06] rkreutz commented on #175
then I'm out of ideas 😂 maybe try something simple first, just try sending some BNB to another wallet, see if that goes through, then try a simple BEP-20 transfer?

[2022-02-09 12:31] dnKaratzas commented on #175
@rkreutz tried and have the same error. I start to believe that is signing issue! When you sign the params...

[2022-02-09 12:47] rkreutz commented on #175
The RPC says is a gas issue though, don't think it would be related to signing... you could use ethers-js to check if the signature is correct if that's the case

[2022-02-09 12:49] rkreutz commented on #175
Can you try moving some ETH around on ropstein or kovan? Could it be an issue with BSc test net?

[2022-02-09 12:50] dnKaratzas commented on #175
I tried also on mainnet same thing... The signatures are different on mac and linux dont know if they suppose to be the same. How can I use ether-js?

[2022-02-09 12:55] dnKaratzas commented on #175
Do you have discord or something for better communication?

[2022-02-09 13:22] rkreutz commented on #175
I do have a discord account, though I'm probably not the best person to go through it with you since the most involvement I had with this project was opening that PR that is linked in the comments, I don't have prior knowledge of this library and I'm not a member of the team maintaining the project, just someone who wanted to help :)

If you want to chat just send over your Discord account, I'll a

[2022-02-09 20:07] DarthMike commented on #174
@joeblau Will take a look at this bug in short, thanks for reporting

[2022-02-09 20:14] DarthMike commented on #175
@dnKaratzas Yes it doesn't seem to be an encoding issue; you're definitely connecting to the same node from your mac and in the Linux machine? I'm a bit lost with BSC though; no idea how it works.

[2022-02-10 02:59] joeblau commented on #174
Here you go @DarthMike - https://github.com/joeblau/Int24...

[code]

And run it, I just wrapped the code in a test for you. If you check the logs you'll see the result is positive, but if you check Etherescan, the Int is negative.

[2022-02-10 10:33] dnKaratzas commented on #175
@DarthMike  I believe it has to do with the sign of the transaction....

[2022-02-10 15:37] rkreutz commented on #175
@dnKaratzas you can use the following typescript code to check the signature, steps are:
- run `npm install`
- edit `main.ts` to add the `txDigest` (the Keccak hash of the whole transaction) and the `signature`; I'm not too sure how to get those from Web3.swift though, you'd need to investigate that
- then run with `npm run main`

It should print on your terminal the address that made that signatu

[2022-02-10 16:12] rkreutz commented on #175
Definitely looks like a signing issue, it could be also an issue with whatever framework/code is being used to import the private key, maybe on Linux that is generating a different signing address?

[2022-02-10 16:26] dnKaratzas commented on #175
If you want add me to discord Dio89#4424

[2022-02-10 21:39] joeblau commented on #174
IT WORKS! Thanks.

[code]

Ship it!

[2022-02-11 10:56] #147 closed

[2022-02-11 15:50] dnKaratzas commented on #175
As @rkreutz  mentioned I have tested the fix under Linux and is working perfectly!
Congrats :)

[2022-02-11 17:34] DarthMike commented on #175
@rkreutz Thanks for looking into this. All PRs should be against `develop`. `master` is what's released, we'll merge after next release with all changes.

[2022-02-11 17:35] DarthMike commented on #175
Mid-longer term we can set up CI to run tests in Linux given we've seen some things might be different. Will require some work as we currently only build iOS with Bitrise.

[2022-02-11 18:14] rkreutz commented on #175
@DarthMike @dnKaratzas FYI PR is up

[2022-02-12 18:11] #175 closed

[2022-02-14 11:43] #174 closed

[2022-02-18 15:56] daltonclaybrook opened #181 "How do you export a private key that's password protected"
If a private key is password-protected, `EthereumAccount` encrypts the key before passing it to key storage, which makes sense. But I can't find a way to access the decrypted private key data from app so that I can export it. The `privateKeyData` property on `EthereumAccount` is private, and the `KeystoreUtil` class is internal, so I can't just use it to decode the key manually. Is there another w

[2022-02-19 22:14] ertembiyik opened #182 "WSS integration"
Hello, i have a wss server that i want to connect to. Does this library support wss connections?

[2022-02-23 08:27] DarthMike commented on #182
We dont' support wss currently.

[2022-02-23 08:32] DarthMike commented on #181
I don't see any problem, just need a public method accepting a `String` password to decrypt, returning raw key `Data`

[2022-02-24 05:13] daltonclaybrook commented on #181
Would you add the method to `EthereumKeyStorageProtocol`, or update `EthereumAccount` to expose the `privateKeyData` field?

[2022-02-24 08:58] DarthMike commented on #181
I think encrypt/decrypt can be moved to `EthereumKeyStorageProtocol` as an extension to the protocol.
Any type implementing storage only needs the existing methods:
[code]

And a protocol extension can add store/load with the encrypt/decrypt step (currently implemented in `EthereumAccount`).

[2022-02-24 19:32] #181 closed

[2022-03-18 23:52] bswags opened #185 "ERC1155 ABI support"
Hi there, great library!

The ERC20 and ERC721 ABI helpers built in are great, are there plans to add the ERC1155 ABI?

[2022-03-20 00:38] Mattijah opened #186 "The latest version not yet available on Cocoapods"
It looks like the latest version (`0.9.3`) is not yet available on Cocoapods. The last version seems to be `0.8.2` on there.

[2022-03-23 13:18] DarthMike commented on #185
Not in the very near future, but will definitely add at some point.

[2022-04-06 12:14] DarthMike commented on #186
Yes we're aware; there's an issue validating with `pod trunk`. You can use the `master` branch in the meantime.

[2022-04-06 13:06] Mattijah commented on #186
Hey @DarthMike, thanks for your reply. I've actually had the same problem with validating pods for my own libraries as their backend was down (is this the issue you're talking about?). If so, did you try running `pod trunk me`? It helped in my case and I was able to push the trunk.

[2022-04-07 01:43] soharang opened #189 "Question: EIP-1559"
Hello Devs,

Thanks for supporting this great library and I have a simple question.

I just wonder if web3.swift supports EIP-1559 so it can create 0x02 transaction.

If it doesn't, can you let me know the plan?

Sincerely,

[2022-04-07 08:46] DarthMike commented on #189
Hello @soharang, we don't have immediate plans to add support, but will try to do it in the mid term

[2022-04-11 14:17] DarthMike commented on #186
Latest version is now available through Cocapods @Mattijah

[2022-04-11 14:17] #186 closed

[2022-04-15 03:44] danil-z opened #194 "Support for macOS 12.3.1"
It seems that library fails to build for macOS 12.3.1.
Any plans to support current Apple platforms?

[2022-04-19 11:49] xbladesub commented on #194
I think better solutions for us as swift devs will be fork, make some changes and contribute

[2022-04-20 16:43] #194 closed

[2022-04-24 08:41] rinat-enikeev opened #195 "Deploy contracts with ABIConstructor"
Hi there! Great library, love it.

Feature request: I want to be able to deploy contracts from Swift code.

Something like:

[code]

And finally:

[code]

where {bytecodeHex} is contract [bytecode](https://ropsten.etherscan.io/address/0x583cbbb8a8443b38abcc0c956bece47340ea1367#code).

This code should deploy new Bokky Token contract.

[2022-04-24 15:25] rinat-enikeev opened #197 "EthereumLog removed optionality"
Subject: I want [[PR](https://github.com/argentlabs/web3.swift/pull/198)] to make `removed` property of `EthereumLog` optional.

[code]

Motivation: if I call `eth_getTransactionReceipt` I sometimes receive response without `removed` property, like in this code:

[code]

Idk why yet, there are some hint on [SO](https://ethereum.stackexchange.com/a/10739), but being honest I don't understand fully

[2022-04-25 17:13] #197 closed

[2022-04-29 08:04] yuchenz27 opened #199 "Can I call a custum smart contract function using this library?"
I have a custom smart contract deployed on the Ethereum blockchain and I want to interact with it using Swift (sending transactions and viewing state).

Is this library capable of sending custom transaction? Thank you very much.

[2022-04-29 08:12] DarthMike commented on #199
Yes, see example in [README](https://github.com/argentlabs/web3.swift#smart-contracts-static-types)
You'll need to use [ABIFunction](https://github.com/argentlabs/web3.swift/blob/master/web3swift/src/Contract/Statically%20Typed/ABIFunction.swift) with your ABI statically defined using Swift types.

[2022-04-29 08:12] #199 closed

[2022-04-30 10:26] yuchenz27 opened #200 "eth_sendRawTransaction always pending on Etherscan"
I am trying to send some ethers to an address, here is my code

[code]

After I called this function, the transaction seems to be completed and the txHash was returned. But that transaction was always pending on etherscan and never got passed.

https://ropsten.etherscan.io/tx/0xc30c3ab114f3fe27b0ac9402aa972a31415691eaaf4edac3afdf1918ee4795f2

Am I doing anything wrong?

[2022-04-30 12:52] yuchenz27 commented on #200
The reason might be the slow speed of ropsten.

[2022-04-30 12:52] #200 closed

[2022-05-03 06:25] yuchenz27 opened #201 "How to send polygon and polygon-mumbai transactions?"

[2022-05-03 07:35] DarthMike commented on #201
This is ethereum-only library

[2022-05-03 07:35] #201 closed

[2022-05-11 10:26] mwrites opened #204 "Needs guidance on error handling"
Hello,

I have noticed most of the `EthereumClient` errors are wrapped into [`EthereumClientError.unexpectedReturnValue`](https://github.com/argentlabs/web3.swift/blob/769762fdc544734ffe5eabc9e7d1c42260bd9be3/web3swift/src/Client/EthereumClient.swift#L307).

Althought `EthereumRPC` handle and parse [the errors properly](https://github.com/argentlabs/web3.swift/blob/769762fdc544734ffe5eabc9e7d1c422

[2022-05-12 08:16] DarthMike opened #205 "ENSIP-10"
https://docs.ens.domains/ens-improvement-proposals/ensip-10-wildcard-resolution

[2022-05-12 15:12] #120 closed

[2022-05-17 11:36] simonmcl opened #206 "GenericJSON dependency causing "Conversion to Swift 5 is available" warning"
There is a bug in Xcode 13 that when scanning code to see is it written in Swift 5, it also scans imported swift packages to see are they using Swift 5. If not it presents you with a warning encouraging you to convert the code. But because its in an uneditable package, its not possible to act on.

I'm using a package that has this and others as a dependency, i'm reaching out to all that have a v4

[2022-05-17 13:47] DarthMike opened #207 "EIP-3668 (offchain read) and offchain ENS support"
https://eips.ethereum.org/EIPS/eip-3668
https://docs.ens.domains/dapp-developer-guide/ens-l2-offchain

[2022-05-17 19:19] dnKaratzas commented on #182
We can use https://github.com/vapor/websocket-kit which is built on top of swift-nio and is compatible with linux too

[2022-05-17 19:41] dnKaratzas commented on #204
Now I think in most cases will return you JSONRPCError.executionError which you can get the code and the message. @DarthMike am I right?

[2022-05-18 09:14] daihovey opened #209 "Cannot add package"
I am not able to add the package, is this something on your end, mine, or Apples?
<img width="663" alt="Screen Shot 2022-05-18 at 7 02 13 pm" src="https://user-images.githubusercontent.com/47039937/169001799-24894b3e-ab4e-4dc8-9976-bb87cb2a67c6.png">

[2022-05-18 09:26] DarthMike opened #210 "Cache resolver by address to avoid repeated calls to `supportsInterface`"
After the changes to support offchain ENS resolution (#208), the library will do one additional call after getting a resolver to determine if it's an extended resolver (supporting new method) or original.

Cache the address/result of `supportsInterface` to avoid repeated calls for same information

[2022-05-18 09:26] DarthMike commented on #209
@daihovey Didn't see this issue before, but based on the error, it looks like Apple repository?
What version are you trying to add?

[2022-05-18 10:27] daihovey commented on #209
Weird, `0.9.3` used to work. Nothing works now. A friend got it working so i must be something locally for me, fun.

[2022-05-18 10:27] #209 closed

[2022-05-18 11:37] DarthMike opened #211 "Refactor tests; use only async-await version"

[2022-05-18 17:34] dnKaratzas commented on #209
Clean derived data and you will be fine!

[2022-05-19 05:39] daihovey commented on #209
It was something to do with package caches.
I fixed it removing all the caches, finding the web3 package, you can “Add it anyway” and then do the turn off everything dance and the hit Reset Package Caches.

[2022-05-19 17:24] #207 closed

[2022-05-19 20:02] DarthMike commented on #204
@mwrites Recently fixed this with  #120 and #207
The APIs now give back the error to the caller correctly.

[2022-05-19 20:02] #204 closed

[2022-05-20 05:35] mwrites commented on #204
Awesome, thanks!

[2022-05-20 08:27] #211 closed

[2022-05-20 08:28] #170 closed

[2022-05-20 08:28] #171 closed

[2022-05-20 17:02] #210 closed

[2022-05-24 07:14] #205 closed

[2022-05-25 06:32] arguiot commented on #182
Is it something you guys plan to work on in the near future? Listening to certain events, especially "Transfer" in ERC20 can be very useful in many cases.

I need it for my app, so if you need help to implement that feature, please let me know how can I help!

[2022-05-26 09:10] DarthMike opened #215 "Secp dependency warnings in Xcode 13"
Update once this is resolved:
https://github.com/Boilertalk/secp256k1.swift/issues/13

[2022-05-31 10:23] dnKaratzas opened #217 "Add ENS Documentation"
Update README

[2022-05-31 17:03] dioKaratzas opened #218 "Formatting to and from Ethereum Units"

[2022-06-02 10:28] dnKaratzas opened #219 "Make use of `Result` on completion"
Its more convenience to use `Result` to reduce the optionals.
Thanks @vzsg for the suggestion!

[2022-06-02 17:43] dnKaratzas opened #222 "Test "testEthSendRawTransaction" fails."
@DarthMike  test "testEthSendRawTransaction" fails. My changes don't affect that test. It is failing even on the master. Please take a look on it

Error `failed - Expected tx but failed executionError(Code: -32000 Message: insufficient funds for gas * price + value).`

_Originally posted by @dnKaratzas in https://github.com/argentlabs/web3.swift/issues/221#issuecomment-1145132540_

[2022-06-02 18:00] dnKaratzas commented on #222
Solved by adding eth to the Ropsten test account.
https://github.com/argentlabs/web3.swift/pull/221#issuecomment-1145132540

[2022-06-02 18:00] #222 closed

[2022-06-05 01:21] luca992 opened #224 "unexpectedReturnValue for eth_estimateGas and eth_sendRawTransaction"
I am trying to estimate gas and execute a execute a function in an ERC721 contract defined as:
[code]

Both eth_estimateGas and eth_sendRawTransaction are returning errors as `unexpectedReturnValue`

Here's an example of eth_estimateGas. I am creating the client and calling the function like:

[code]

[code]

When running it prints:

[code]

There's clearly not a problem with the EthereumClient se

[2022-06-05 05:50] luca992 commented on #224
So I think I found the issue. This is a failed eth_estimateGas from ganache logs.

[code]
It is saying `base fee exceeds gas limit`. Which is due to `"gas": "0x0"` being included in the request.

When I run estimate gas using the [Web3j](https://docs.web3j.io/) library in java. It does not include those parameters at all.

I was just able to get the eth_estimateGas working in web3.swift by setting

[2022-06-05 18:38] luca992 commented on #204
I tried the dev branch and errors are still not being propagated. I'm still getting `unexpectedReturnValue` for `eth_estimateGas` requests. This is the error log from ganache which gets returned by web3.swift as `unexpectedReturnValue`:

[code]

[2022-06-06 08:11] dnKaratzas commented on #224
You are right. We must not include gas & gasPrice to request. Opened a PR that fixes that issue. Regarding the error parsing I will try to reproduce the bug and see what is going on

[2022-06-06 08:50] dnKaratzas commented on #224
I reproduces the issue and the error is handled correctly:
<img width="1172" alt="Screenshot at Jun 06 11-49-33" src="https://user-images.githubusercontent.com/7944881/172128615-ed58d450-9867-466f-80a5-70ca726b0525.png">

[2022-06-06 08:54] dnKaratzas commented on #224
Could you add breakpoints like I did to see how it parses the error?

[2022-06-06 09:11] dnKaratzas commented on #182
@arguiot I am working on it. It will take a while though

[2022-06-07 09:44] dnKaratzas commented on #182
Omg WebSockets are so fast!!!
<img width="1165" alt="Screenshot at Jun 07 12-43-03" src="https://user-images.githubusercontent.com/7944881/172349814-93c80e4a-3844-4a83-94b6-321734ad8588.png">

Performance Tests showing that WebSockets are 700% faster than Http

[2022-06-09 04:13] Tomas-Shao opened #229 "How to Set Text Records for your ENS Records?"
do we have a example (or unit test case) that tell us how to set text record for ENS Records?
Reference page: https://docs.ens.domains/dapp-developer-guide/managing-names

[2022-06-09 11:10] dnKaratzas commented on #182
@arguiot its almost ready! Could you help on testing?

[2022-06-09 11:18] arguiot commented on #182
Sure! I will try to add it to my app in the next few days and let you know how it goes. Thanks for the feature!

[2022-06-09 14:21] dnKaratzas commented on #182
It will work on all occasions! But on vapor you have to use a shared Event Loop group. That's why I asked

[2022-06-10 09:37] #219 closed

[2022-06-10 10:54] DarthMike commented on #229
Hello @Tomas-Shao we don't support this at the moment, but keeping this as tracker.

[2022-06-10 12:42] ismail9001 opened #230 "Getting list of stored accounts"
How can I get a list of stored accounts?
When we store in the EthereumKeyStorageProtocol
func storePrivateKey(key: Data) throws -> Void
does not imply passing identifiers (the current path is stored in the localpath variable)

[2022-06-11 17:50] guillemsole opened #231 "Remove account from client.eth_estimateGas"
Good afternoon team, I'm using your library to build an app with web3. Thank you for your work, it has been really helpful. I would like to propose a small improvement.

While building my model I have found that [EthereumClient](https://github.com/argentlabs/web3.swift/blob/master/web3swift/src/Client/EthereumClient.swift) function [eth_estimateGas](https://github.com/argentlabs/web3.swift/blob/ma

[2022-06-13 10:49] #231 closed

[2022-06-14 09:30] DarthMike opened #234 "Migrate from ropsten"
Ropsten network is going to be deprecated by July, should possibly move all tests to Goerli.

Should also update the `EthereumNetwork` definitions

[2022-06-14 09:30] DarthMike commented on #234
https://github.com/ethereum/pm/issues/460

[2022-06-14 09:47] Tomas-Shao commented on #229
Do we have a plan to do it ? because it's a standard ENS contract.  right ?

[2022-06-15 07:46] #215 closed

[2022-06-16 15:19] DarthMike commented on #229
We'll implement it in the near future, that's why we keep the ticket open

[2022-06-16 15:22] DarthMike commented on #230
There's only 1 account and storage is taken care by conforming type. Not sure I understand?

[2022-06-17 08:26] dnKaratzas opened #240 "Remove Deprecated Methods"

[2022-06-17 08:29] dnKaratzas opened #241 "Enable Parallel Testing"
Faster test execution

[2022-06-17 13:57] #241 closed

[2022-06-17 13:57] #240 closed

[2022-06-19 05:06] Tomas-Shao opened #245 "Fetching ENS TextRecords"
Hi, i am fetching the ENS TextRecords by using this:

[code]

But the return value is
[code]

I decoded the above value by using `.web3.stringValue`, But got a

������������������������������� �������������������������������,HZPhW5NAqq8d7nsgZUgqjCt7ZfSJxqELqq25jj14hxM1��������������������

The expected value should be : `HZPhW5NAqq8d7nsgZUgqjCt7ZfSJxqELqq25jj14hxM1`

so my questions is:

1. Why ge

[2022-06-20 19:03] dnKaratzas opened #247 "Add SwiftFormat to CI"
Run SwiftFormat lint on CI

_Originally posted by @DarthMike in https://github.com/argentlabs/web3.swift/issues/244#issuecomment-1160443793_

[2022-06-21 20:59] DarthMike commented on #245
Hello @Tomas-Shao can you show the code for `TextRecord`, specifically, the response decoding?

[2022-06-21 21:05] DarthMike commented on #245
Hello @Tomas-Shao that response is the raw bytes, and the library will help decoding into a Swift String.

It's simpler to use `ABIFunction.call` which will help decoding by forcing to provide a decodable type conforming to `ABIResponse`:
See [here](https://github.com/argentlabs/web3.swift/blob/develop/web3swift/src/Contract/Statically%20Typed/EthereumClient%2BStatic.swift#L18-L23)

I suspect you

[2022-06-22 08:56] Tomas-Shao commented on #245
Thanks @DarthMike , it works!!
[code]

[2022-06-22 08:59] #245 closed

[2022-07-05 11:38] JeneaVranceanu opened #250 "EthereumAccount - runtime decoding of ABI in JSON format."
Hello!
I was looking for a possibility to decode smart contract ABI and it looks like `EthereumAccount` is a centrepiece where such a feature could be located. It appears that ABI should be statically defined, is that correct?
Wondering if I missed this feature somewhere.

Here is an example of random ABI:
[code]

[2022-07-06 14:13] clonezer opened #251 "I got an error when using `eth_estimateGas` with a value that started with zero like `0x012a05f200`"
I got this error:

[code]

when I send  this transaction:
[code]

and this is what function I called in smart contract on [BSC](https://testnet.bscscan.com/address/0xdDcBB8718A8fCB8c73d3194ceC55e9767c47b3A5#code=)
[code]

I think the problem is in `HexExtensions.swift`:
[code]

and

[code]

if value is `BigUInt(5000000000)` result from map function will be:

[code]

[2022-07-08 13:54] ismail9001 opened #253 "ABI Code gen"
Can we implement some ABI structs generator?

It would be very convenient to convert ABI.json to ABIFunction type entities

[2022-07-10 13:58] OguzYuuksel opened #255 "Keychain store option."
Keychain can be used to store private key since it already stores our credit card information.

[2022-07-14 16:48] DarthMike commented on #253
We have a very dumb codegen for Argent, never fully implemented anything generic. Always wanted but never had time.

[2022-07-14 16:59] #230 closed

[2022-07-14 17:03] DarthMike commented on #250
We dropped parsing String-typed ABI from the library as it's not safe and bloats the codebase. It's better to know the ABI the application/tool is interacting with beforehand.

[2022-07-15 12:13] #250 closed

[2022-07-15 14:13] DarthMike commented on #255
It's up to the user of the library. Keychain usage is tied with app and specific to project to offer a generic solution here.

[2022-07-15 14:13] #255 closed

[2022-07-28 00:16] Tomas-Shao opened #259 "EthereumNameService: resolve(address:) and resolve(addresses:)"
These two methods are a bit confusing to me, why do I not get the same result?
and what is the difference between these two methods?
From the method names, I thought one was multiple calls together and the other could only call one at a time
do we have a api doc to say that?

<img width="1061" alt="image" src="https://user-images.githubusercontent.com/66241503/181393447-f40e3cb2-7cb8-4c30-bc09-931

[2022-08-05 09:07] ParhamHatan opened #260 "'events' is inaccessible due to 'internal' protection level"
getEvents value type is Events and when I want to access it's properties I get 'events' is inaccessible due to 'internal' protection level

[code]

using latest develop branch

[2022-08-05 17:55] ParhamHatan opened #262 "Cannot inherit from non-open class 'ERC165' outside of its defining module"
I want to inherit ERC165 for creating ERC1155 class but got this error in my app.

[code]

[2022-08-05 20:40] dnKaratzas commented on #262
I don't see a reason to get an error by inherit `ERC165`. Could you please share the error you get?

[2022-08-07 11:58] ParhamHatan commented on #262
It restricted from inheriting because of ```public``` tag.
Error I got: ```Cannot inherit from non-open class 'ERC165' outside of its defining module```

[2022-08-07 14:39] dnKaratzas commented on #262
I thought you wanted to edit the package. @DarthMike should we make the classes open for inheritance?

[2022-08-12 12:19] ParhamHatan opened #263 "Ambiguous use of 'create(keyStorage:keystorePassword:)'"
I want to create new ethereum account but got this error message
Error message: Ambiguous use of 'create(keyStorage:keystorePassword:)'

[code]

[2022-08-20 12:27] soulbind opened #264 "EthereumNameService resolve failure"
EthereumNameService cannot reolve address to ens name.
Always repor 'ensUknown' while address bind a name.

[2022-08-30 08:15] #260 closed

[2022-08-30 17:30] DarthMike commented on #264
Hello @soulbind can you provide an address in mainnet/ropsten to test it?

[2022-08-30 17:33] DarthMike commented on #263
Hi you can use `1.2.0` while we fix the issue in `develop`

[2022-08-30 17:33] DarthMike commented on #262
@dnKaratzas happy to make open, no problem

[2022-08-30 17:52] DarthMike commented on #259
Both should return the same result, one is to resolve multiple addresses with one call (using multicall), the other is to resolve a single address

[2022-08-30 17:57] DarthMike commented on #259
I can't see any result in etherescan though, strange
https://etherscan.io/enslookup-search?search=0x2259c79c85141a59b9117c789a5ae09774b7572f

[2022-08-31 16:26] DarthMike commented on #262
Fixed in #265

[2022-08-31 16:26] #262 closed

[2022-09-05 07:37] aburashima opened #267 "iOS versions discrepancy"
The package is not compiled with error "Compiling for iOS 13.0, but module 'Internal_CryptoSwift_PBDKF2' has a minimum deployment target of iOS 14.0"
Attempt to upgrade the supported platform to iOS 14.0: iOS(SupportedPlatform.IOSVersion.v14) results in
errors in HttpNetworkProvider.swift "Concurrency is only available in iOS 15.0.0 or newer"
How should this discrepancy be resolved?

[2022-09-05 08:30] dnKaratzas commented on #267
What is your Xcode version? async/await is available for iOS 15, macOS Monterey, watchOS 8, and tvOS 15. Xcode 13.2 extends supported systems way back to iOS 13, macOS Catalina, watchOS 6, and tvOS 13.

[2022-09-05 09:23] Tomas-Shao commented on #259
<img width="1211" alt="image" src="https://user-images.githubusercontent.com/66241503/188414620-4b64e6f6-2c69-4f55-8cd8-ad3db9002c01.png">
<img width="2047" alt="image" src="https://user-images.githubusercontent.com/66241503/188415551-ebfb432a-739e-40c5-959d-f863ed044c8d.png">

Hi @DarthMike , thanks for you replying. you can check the UT:

[code]

[2022-09-05 10:23] aburashima commented on #267
My Xcode version is 13.1.
Thus, I have to upgrade to 13.2 to eliminate the issue, haven't I?

[2022-09-05 14:31] Tomas-Shao commented on #264
same #259 ? i think yes,
try
[code]

[2022-09-05 17:45] dnKaratzas commented on #267
Yeah!

[2022-09-12 21:39] #267 closed

[2022-09-15 13:01] ismail9001 opened #269 "Xcode 14.0 thread warning"
[code]

[2022-09-29 07:50] DarthMike commented on #264
Cool, we'll keep track with #259

[2022-09-29 07:50] #264 closed

[2022-10-10 14:20] Tomas-Shao commented on #269
same here

[2022-10-10 14:54] Tomas-Shao opened #271 "support multicall for Goerli TestNetwork ？"
Hi , i don't find the multicall contract address for goerli,
1. so we don't support it, right ?
2. then i cannot use multicall on Goerli Test Network right ?

do we have a work around solution for this ?
[code]

[2022-10-11 10:01] aburashima commented on #263
Creating account with EthereumAccount.create(...) generates public key of 64 bytes size and private key of 425 bytes size.
Meanwhile, creating Ethereium account with Geth produces the keys of 20 and 32 bytes respectively.
Are the longer versions of the keys valid as well as the shorter ones?

[2022-10-11 10:03] aburashima opened #272 "Public key is much longer than that created with other means"
Creating account with EthereumAccount.create(...) generates private key of 425 bytes size.
Meanwhile, creating Ethereium account with other means (e.g., Geth) produces private key of 32 bytes long.
Is the longer version of the private key valid as well as the shorter one?

[2022-10-26 09:45] #269 closed

[2022-10-27 18:36] shastasublime opened #275 "How do i convert the private key to a string"
just started using this library is the a discord channel yall have

[2022-11-10 19:02] joshuajiangdev opened #277 "Sign typed data is not working with custom type array - basically V4 support"
When we tried to get `signablehash` from the following typed data from OpenSea.

[code]

We are getting error in `parseAtomicType`  under

[code]

where `data` is equal to
[code]
and `type` is `OfferItem[]`. This seems to be a match, the only issue here is this should not be in `parseAtomicType` because it seems like `ABIRawType` is only support `RawType` and passing in `OfferItem` will result a `

[2022-11-11 17:50] joshuajiangdev commented on #277
I have implemented my own version here: https://github.com/joshuajiangdev/web3.swift-typeddata-v4/commit/8369ff744d438bc7c5fceaa84798c5a951d2b6f8

Let me know if you want me to submit a pull request.

[2022-11-15 17:12] DarthMike commented on #275
Hello, you can convert any `Data` using `.web3.hexString`

[2022-11-15 17:12] #275 closed

[2022-11-15 17:16] DarthMike commented on #277
Hi @joshuajiangdev yes please a PR would be great.

[2022-11-15 17:38] DarthMike commented on #272
@aburashima What do you mean? As you can see in the unit tests, the key length is 32 bytes. I'm not sure I understand
https://github.com/argentlabs/web3.swift/blob/develop/web3swift/src/Account/EthereumAccount.swift#L88-L114
https://github.com/argentlabs/web3.swift/blob/develop/web3sTests/Utils/KeyUtilTests.swift#L19-L23

[2022-11-16 07:00] aburashima commented on #272
Thank you for the reply!
I looked into the code more thoroughly and revealed that I had fetched the private key with method loadPrivateKey() instead of loadAndDecryptPrivateKey(keystorePassword:).
Indeed, the latter returns 32 bytes long decrypted private key I need.
Everything is fine, please close the topic.

[2022-11-16 15:29] DarthMike commented on #272
👍

[2022-11-16 15:29] #272 closed

[2022-11-21 15:16] warcupcake opened #280 "WebSocketClient - NIOTSConnectionBootstrap not building in watchOS 9.0"
Been trying to develop something on watchOS with this package and got the issue of that the WebSocketClient.swift file failed at building. The XCode issues says:

Occuring on both watchOS 9.0 and 9.1

![Screenshot 2565-11-21 at 22 15 34](https://user-images.githubusercontent.com/97900684/203090602-4d0ae496-0878-494f-bda0-9630e9ba1238.png)

[2022-11-25 11:50] #234 closed

[2022-11-25 11:54] DarthMike commented on #271
It's supported, see #234

[2022-11-25 11:54] #271 closed

[2022-11-28 10:20] #277 closed

[2022-11-28 11:08] #263 closed

[2022-11-28 11:27] #206 closed

[2022-11-28 16:35] DarthMike commented on #259
@Tomas-Shao I've added some tests in Goerli with the set up you reported, and I see no issues. Can you confirm it works for you now? See #284

[2022-11-28 18:31] #259 closed

[2022-11-30 09:22] DarthMike opened #285 "Can't push to cocoapods (validation error)"
[code]

[2022-11-30 11:28] DarthMike commented on #280
@warcupcake Can you try if this branch works for you #287? I think it's related to package not supporting watchOS explicitly

[2022-11-30 13:09] #280 closed

[2022-11-30 14:44] #285 closed